doctype html
html
	head
		meta(charset = "utf-8")
		meta(name = "viewport", content = "initial-scale=1.0, width=device-width")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		title
			block title

	body
		.page

			include ../components/header/header

			main.main.wrapper
				block main

			include ../components/footer/footer
		