extend ../base

block title
      | Список модулей

block main
    h1 Модули:

    .accordeon

        .accordeon__item
            .accordeon__title Accordeon
            .accordeon__body
                p Блок с раскрывающимися и закрывающимися элементами.
                p 
                    a.demo(href="/accordeon.html" target="_blank") Demo

        .accordeon__item
            .accordeon__title Animate
            .accordeon__body
                p Функция анимации. Используется в модуле Accordeon.

        .accordeon__item.accordeon__item_nodone
            .accordeon__title ButtonFix
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Chat
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Flip
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title FloatVideo
            .accordeon__body

        .accordeon__item
            .accordeon__title IsMobile
            .accordeon__body
                p Функция для проверки, является ли устройство мобильным.

        .accordeon__item.accordeon__item_nodone
            .accordeon__title ModalWindow
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Mosaic
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Parallax
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Popover
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Preloader
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title ProgressBar
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title SelectHandler
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title ShowMore
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title SidebarPF
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Slider
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Steps
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title SVGWorldMap
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Tooltip
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title Validator
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title VideoPlayer
            .accordeon__body

        .accordeon__item.accordeon__item_nodone
            .accordeon__title VideoPlayerYT
            .accordeon__body
                p Загрузка видео с YouTube по ID.
                p 
                    a.demo(href="/videoplayeryt.html" target="_blank") Demo


        .accordeon__item.accordeon__item_nodone
            .accordeon__title WarnMessage
            .accordeon__body

        //-.accordeon__item
            .accordeon__title
            .accordeon__body