extend ../base

block title
	| Accordeon

block main
	
		h3 Accordeon#1

		.accordeon
			.accordeon__item
				.accordeon__title Lorem ipsum dolor sit amet
				.accordeon__body
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a egestas elit, quis rhoncus ligula. Aenean accumsan dignissim felis, nec suscipit nunc ullamcorper a. Aliquam nec erat id quam sodales tincidunt id in enim. Phasellus scelerisque leo a suscipit mattis. Nulla rutrum dui tristique felis mattis elementum. Nunc a suscipit metus, nec placerat nunc. Praesent a massa cursus, euismod nunc at, sollicitudin odio. Quisque mattis augue mi, vitae imperdiet elit tincidunt eu. Morbi rutrum nibh quis lacus commodo ultrices quis ut tellus. Proin condimentum tristique risus et tincidunt. Sed magna sapien, elementum quis rutrum ut, venenatis in massa. Integer non auctor lacus, ac tempus tortor. Suspendisse laoreet eros non libero rutrum pretium non vel risus. Proin nec urna viverra, placerat quam a, lacinia turpis. Curabitur justo nisl, varius sed neque eu, bibendum iaculis quam.

			.accordeon__item
				.accordeon__title Donec ultricies neque vitae vehicula varius. Etiam sed ligula laoreet massa feugiat posuere. Cras sit amet neque ut leo venenatis vestibulum. Quisque diam quam, finibus eu dolor sollicitudin, hendrerit rhoncus dui. Cras vitae ante porta, lacinia odio ac, auctor urna. Morbi eu cursus augue. Duis magna sem, efficitur at fringilla et, feugiat ac leo.
				.accordeon__body
					p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer non nulla dapibus nulla vulputate gravida sed in lacus. Cras eu accumsan lectus, sollicitudin aliquet quam. Nunc accumsan risus ante, at iaculis quam sodales sagittis. Morbi nisl lectus, tincidunt vel ante sit amet, cursus tincidunt enim. Suspendisse fermentum tempor justo eget imperdiet. Suspendisse vulputate elementum odio, eu molestie diam dapibus id. Sed enim dui, tristique ac lorem et, varius pellentesque turpis. Etiam non vehicula orci, id ultricies purus. Pellentesque eu malesuada magna. Duis porttitor varius ipsum, sed placerat nisi interdum non. Nullam imperdiet, augue vel malesuada ultricies, orci libero scelerisque nulla, vel ullamcorper nisl dolor quis nunc. Vestibulum commodo ligula sit amet semper finibus.

			.accordeon__item
				.accordeon__title Vestibulum commodo ligula sit amet semper finibus
				.accordeon__body
					p Integer vehicula erat eget sollicitudin pellentesque. Morbi quis tellus sem. Ut condimentum ante et viverra tempus. Aenean vulputate magna et mauris dignissim, maximus consectetur neque porttitor. Pellentesque ultricies nunc in pellentesque ornare. Sed convallis ultrices arcu. Sed pharetra vitae mauris mollis cursus. Suspendisse potenti. Maecenas pellentesque enim vel felis laoreet bibendum.

			.accordeon__item
				.accordeon__title Vivamus mollis vulputate tincidunt
				.accordeon__body
					p Curabitur mattis efficitur consectetur. Cras at porta enim, vel dignissim enim. Nam risus lorem, auctor quis varius ut, aliquam at risus. Pellentesque dolor ex, gravida ut cursus non, hendrerit sit amet diam. Donec enim nisl, consequat ac venenatis at, rutrum eu nisl. Nam augue lectus, pulvinar id magna ut, porttitor vehicula ipsum. Pellentesque pharetra lacinia nisl vel tristique. Sed elementum ipsum sem, non eleifend dolor accumsan a. Phasellus sed porttitor enim. Suspendisse ultricies massa nulla, eget volutpat ante mollis tempus. Morbi ac blandit lacus, ac elementum mi. Cras ac luctus tortor. Donec eget nisl lobortis, tempus nibh at, vestibulum nibh. Donec suscipit convallis leo efficitur laoreet.


		h3 Accordeon#2

		.accordeon
			.accordeon__item
				.accordeon__title Lorem ipsum dolor sit amet
				.accordeon__body
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a egestas elit, quis rhoncus ligula. Aenean accumsan dignissim felis, nec suscipit nunc ullamcorper a. Aliquam nec erat id quam sodales tincidunt id in enim. Phasellus scelerisque leo a suscipit mattis. Nulla rutrum dui tristique felis mattis elementum. Nunc a suscipit metus, nec placerat nunc. Praesent a massa cursus, euismod nunc at, sollicitudin odio. Quisque mattis augue mi, vitae imperdiet elit tincidunt eu. Morbi rutrum nibh quis lacus commodo ultrices quis ut tellus. Proin condimentum tristique risus et tincidunt. Sed magna sapien, elementum quis rutrum ut, venenatis in massa. Integer non auctor lacus, ac tempus tortor. Suspendisse laoreet eros non libero rutrum pretium non vel risus. Proin nec urna viverra, placerat quam a, lacinia turpis. Curabitur justo nisl, varius sed neque eu, bibendum iaculis quam.

			.accordeon__item
				.accordeon__title Donec ultricies neque vitae vehicula varius. Etiam sed ligula laoreet massa feugiat posuere. Cras sit amet neque ut leo venenatis vestibulum. Quisque diam quam, finibus eu dolor sollicitudin, hendrerit rhoncus dui. Cras vitae ante porta, lacinia odio ac, auctor urna. Morbi eu cursus augue. Duis magna sem, efficitur at fringilla et, feugiat ac leo.
				.accordeon__body
					p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer non nulla dapibus nulla vulputate gravida sed in lacus. Cras eu accumsan lectus, sollicitudin aliquet quam. Nunc accumsan risus ante, at iaculis quam sodales sagittis. Morbi nisl lectus, tincidunt vel ante sit amet, cursus tincidunt enim. Suspendisse fermentum tempor justo eget imperdiet. Suspendisse vulputate elementum odio, eu molestie diam dapibus id. Sed enim dui, tristique ac lorem et, varius pellentesque turpis. Etiam non vehicula orci, id ultricies purus. Pellentesque eu malesuada magna. Duis porttitor varius ipsum, sed placerat nisi interdum non. Nullam imperdiet, augue vel malesuada ultricies, orci libero scelerisque nulla, vel ullamcorper nisl dolor quis nunc. Vestibulum commodo ligula sit amet semper finibus.

			.accordeon__item
				.accordeon__title Vestibulum commodo ligula sit amet semper finibus
				.accordeon__body
					p Integer vehicula erat eget sollicitudin pellentesque. Morbi quis tellus sem. Ut condimentum ante et viverra tempus. Aenean vulputate magna et mauris dignissim, maximus consectetur neque porttitor. Pellentesque ultricies nunc in pellentesque ornare. Sed convallis ultrices arcu. Sed pharetra vitae mauris mollis cursus. Suspendisse potenti. Maecenas pellentesque enim vel felis laoreet bibendum.

			.accordeon__item
				.accordeon__title Vivamus mollis vulputate tincidunt
				.accordeon__body
					p Curabitur mattis efficitur consectetur. Cras at porta enim, vel dignissim enim. Nam risus lorem, auctor quis varius ut, aliquam at risus. Pellentesque dolor ex, gravida ut cursus non, hendrerit sit amet diam. Donec enim nisl, consequat ac venenatis at, rutrum eu nisl. Nam augue lectus, pulvinar id magna ut, porttitor vehicula ipsum. Pellentesque pharetra lacinia nisl vel tristique. Sed elementum ipsum sem, non eleifend dolor accumsan a. Phasellus sed porttitor enim. Suspendisse ultricies massa nulla, eget volutpat ante mollis tempus. Morbi ac blandit lacus, ac elementum mi. Cras ac luctus tortor. Donec eget nisl lobortis, tempus nibh at, vestibulum nibh. Donec suscipit convallis leo efficitur laoreet.


		h3 Accordeon#3

		.accordeon
			.accordeon__item
				.accordeon__title Lorem ipsum dolor sit amet
				.accordeon__body
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a egestas elit, quis rhoncus ligula. Aenean accumsan dignissim felis, nec suscipit nunc ullamcorper a. Aliquam nec erat id quam sodales tincidunt id in enim. Phasellus scelerisque leo a suscipit mattis. Nulla rutrum dui tristique felis mattis elementum. Nunc a suscipit metus, nec placerat nunc. Praesent a massa cursus, euismod nunc at, sollicitudin odio. Quisque mattis augue mi, vitae imperdiet elit tincidunt eu. Morbi rutrum nibh quis lacus commodo ultrices quis ut tellus. Proin condimentum tristique risus et tincidunt. Sed magna sapien, elementum quis rutrum ut, venenatis in massa. Integer non auctor lacus, ac tempus tortor. Suspendisse laoreet eros non libero rutrum pretium non vel risus. Proin nec urna viverra, placerat quam a, lacinia turpis. Curabitur justo nisl, varius sed neque eu, bibendum iaculis quam.

			.accordeon__item
				.accordeon__title Donec ultricies neque vitae vehicula varius. Etiam sed ligula laoreet massa feugiat posuere. Cras sit amet neque ut leo venenatis vestibulum. Quisque diam quam, finibus eu dolor sollicitudin, hendrerit rhoncus dui. Cras vitae ante porta, lacinia odio ac, auctor urna. Morbi eu cursus augue. Duis magna sem, efficitur at fringilla et, feugiat ac leo.
				.accordeon__body
					p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer non nulla dapibus nulla vulputate gravida sed in lacus. Cras eu accumsan lectus, sollicitudin aliquet quam. Nunc accumsan risus ante, at iaculis quam sodales sagittis. Morbi nisl lectus, tincidunt vel ante sit amet, cursus tincidunt enim. Suspendisse fermentum tempor justo eget imperdiet. Suspendisse vulputate elementum odio, eu molestie diam dapibus id. Sed enim dui, tristique ac lorem et, varius pellentesque turpis. Etiam non vehicula orci, id ultricies purus. Pellentesque eu malesuada magna. Duis porttitor varius ipsum, sed placerat nisi interdum non. Nullam imperdiet, augue vel malesuada ultricies, orci libero scelerisque nulla, vel ullamcorper nisl dolor quis nunc. Vestibulum commodo ligula sit amet semper finibus.

			.accordeon__item
				.accordeon__title Vestibulum commodo ligula sit amet semper finibus
				.accordeon__body
					p Integer vehicula erat eget sollicitudin pellentesque. Morbi quis tellus sem. Ut condimentum ante et viverra tempus. Aenean vulputate magna et mauris dignissim, maximus consectetur neque porttitor. Pellentesque ultricies nunc in pellentesque ornare. Sed convallis ultrices arcu. Sed pharetra vitae mauris mollis cursus. Suspendisse potenti. Maecenas pellentesque enim vel felis laoreet bibendum.

			.accordeon__item
				.accordeon__title Vivamus mollis vulputate tincidunt
				.accordeon__body
					p Curabitur mattis efficitur consectetur. Cras at porta enim, vel dignissim enim. Nam risus lorem, auctor quis varius ut, aliquam at risus. Pellentesque dolor ex, gravida ut cursus non, hendrerit sit amet diam. Donec enim nisl, consequat ac venenatis at, rutrum eu nisl. Nam augue lectus, pulvinar id magna ut, porttitor vehicula ipsum. Pellentesque pharetra lacinia nisl vel tristique. Sed elementum ipsum sem, non eleifend dolor accumsan a. Phasellus sed porttitor enim. Suspendisse ultricies massa nulla, eget volutpat ante mollis tempus. Morbi ac blandit lacus, ac elementum mi. Cras ac luctus tortor. Donec eget nisl lobortis, tempus nibh at, vestibulum nibh. Donec suscipit convallis leo efficitur laoreet.
